@{
    ViewData["Title"] = "Не найдена страница";
}

<div class="error">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <img src="~/img/error-404.png" alt="image 404">
                <h2><b>404</b> Страница не найдена</h2>
                <p>посетите главную страницу <br> возможно вы найдёте её</p>
                <a href="/" class="cmn-btn mt-4">На главную</a>
            </div>
        </div>
    </div>
</div>