@{
    ViewData["Title"] = "О сервисе";
}

<div class="container">
    <div class="row">
        <h2>О сервисе</h2>
        <p>
            Сервис представляет из себя веб-сайт по поиску предков, опираясь на внутреннюю базу данных.
            <br />
            Сервис создан в рамках тестового задания автором Mafof.
        </p>

        <p style="margin: 0">Ссылки:</p>

        <a href="https://github.com/mafof" target="_blank">GitHub</a>
        <a href="https://t.me/mafof" target="_blank">Telegram</a>
    </div>
</div>