@model SearchModel
@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <div class="row">
        <div class="text-center">
            @if(@ViewBag.NotFound == true)
            {
                <div class="alert alert-danger" role="alert">
                    По запросу данные не найдены, попробуйте еще раз
                </div>
            }

            <h2>Генеалогическое древо</h2>
            <p>
                Что бы найти всех бабушек и внуков, заполните ниже данные
            </p>

            <form class="d-flex col-sm-12 col-md-6 offset-md-3 align-content-center flex-column custom-form" method="post" asp-controller="Home" asp-action="Search" novalidate>
                <div class="form-floating mb-3">
                    <input asp-for="Surname" class="form-control" id="surname" placeholder="Фамилия" required>
                    <label asp-for="Surname"></label>
                    <span asp-validation-for="Surname" class="text-danger"></span>
                    <div class="invalid-feedback">Заполните поле Фамилия</div>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Name" class="form-control" id="name" placeholder="Имя" required>
                    <label asp-for="Name"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <div class="invalid-feedback">Заполните поле Имя</div>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Patronymic" class="form-control" id="patornymic" placeholder="Отчество">
                    <label asp-for="Patronymic"></label>
                </div>

                <button class="btn btn-success" type="submit">Найти</button>
            </form>
        </div>
    </div>
</div>